{% extends 'layout.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}

<h1>Welcome, {{ session['token'] }}!</h1>
<div class="card">
    <div class="card-header mx-4 p-3 text-center">
      <div class="icon icon-shape icon-lg bg-gradient-primary shadow text-center border-radius-lg">
        <i class="material-icons opacity-10">account_balance</i>
      </div>
    </div>
    <div class="card-body pt-0 p-3 text-center">
      <h6 class="text-center mb-0">Salary</h6>
      <span class="text-xs">Belong Interactive</span>
      <hr class="horizontal dark my-3">
      <h5 class="mb-0">+$2000</h5>
    </div>
  </div>
<!-- Home page specific content -->
{% endblock %}