{% extends 'layout.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}


    <div class="row">
      <div class="col-sm-4">
        <div class="card">

          <div class="card-body">
             <h4><i class="material-icons">wifi</i> Access Point </h4>
          
             <div class="d-flex justify-content-center">
              <div id="apInfo"></div>
            </div>
            
          </div>
        </div>
      </div>


      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h4><i class="material-icons">hub</i> Connected Devices</h4>
            <div id="conDevice"></div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-header">
            <i class="material-icons">person</i> Profile
          </div>
          <div class="card-body">
            <p>This is the content of the third card.</p>
          </div>
        </div>
      </div>
    </div>




<!-- Home page specific content -->


{% endblock %}

{% block js %}
<script>
  $(document).ready(function() {
    if (typeof jQuery !== 'undefined') {
    // jQuery is loaded
    console.log('jQuery is loaded!');
  } else {
    // jQuery is not loaded
    console.log('jQuery is not loaded!');
  }
        var url = 'http://127.0.0.1:1337/api/v1/commands/';
        var token = '{{ session['token'] }}';
  
        $.ajax({
            url: url+'ap_json',
            headers: {
                'x-access-token': token
            },
            method: 'GET',
            success: function(response) {
            // Join the array elements into a single string
            var jsonResponse = JSON.parse(response.join(''));

            // Access the data from the parsed JSON
            var accessPoint = jsonResponse['ap_settings']['output'];
            var security = jsonResponse['Settings Security']['output'];
            if(accessPoint['status']){ 
              accessPoint['status'] = 'Running'
            }else{
              accessPoint['status'] = 'OFF'
              }
        // Create the HTML content
        var html = '<p class="card-text"><i class="material-icons">network_wifi</i> SSID: ' + accessPoint['ssid'] + '</p>' +
                   '<p class="card-text"><i class="material-icons">settings_input_antenna</i> Channel: ' + accessPoint['channel'] + '</p>' +
                   '<p class="card-text"><i class="material-icons">device_hub</i> Interface: ' + accessPoint['interface'] + '</p>' +
                   '<p class="card-text"><i class="material-icons">security</i> Security: ' + accessPoint['security'] + '</p>' +
                   '<p class="card-text"><i class="material-icons">power_settings_new</i> Status: ' + accessPoint['status'] + '</p>' +
                   '<p class="card-text"><i class="material-icons">lock</i> WPA Algorithms: ' + security['wpa_algorithms'] + '</p>' +
                   '<p class="card-text"><i class="material-icons">vpn_key</i> WPA Shared Key: ' + security['wpa_sharedkey'] + '</p>';

        // Set the HTML content in the div element
        $('#apInfo').html(html);
             
            }
        });



        // Devices total 

        $.ajax({
            url: url+'clients_json',
            headers: {
                'x-access-token': token
            },
            method: 'GET',
            success: function(response) {
              var jsonResponse = JSON.parse(response);
              // Access the data in the JSON object
              var clients = jsonResponse.clients;
              var totalDevices = jsonResponse.total_devices;

              // Do something with the data
              console.log(clients);
              console.log(totalDevices);
              $('#conDevice').html('<b>'+totalDevices+'</b>');
              
            },
            error: function(error) {
              console.log('Error:', error);
            }
        });

    });
  
  
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>


{% endblock %}
