{% extends 'layout.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}


    <div class="row">

      <div class="col-sm-6">
        <div class="card mb-4">

          <div class="card-body">
             <h4><i class="material-icons">wifi</i> Access Point </h4>
          
             <div class="d-flex justify-content-left">
              <div id="apInfo"></div>
            </div>
            
          </div>
        </div>


      </div>


      <!-- <div class="col-sm-4 mb-6">
        <div class="card">
            <div class="card-body">
              <h4><i class="material-icons">group</i> DHCP Config</h4>
              <div id="dhresponseDiv" class="response-div"></div>
            </div>
        </div>
        </div> -->
        <div class="col-sm-6 mb-6">
          <div class="card">
            <div class="card-body">
              <h4><i class="material-icons">hub</i> Connected Devices</h4>
              <div id="conDevice"></div>
            </div>
          </div>
        </div>

      

    </div>
    <div class="row">
      



            <div class="col-sm-6  mb-6">
              <div class="card">
                  <div class="card-body">
                    <h4><i class="material-icons">hub</i> Current Settings</h4>
                    <div id="settings" class="response-div">
              
                    </div>
                  </div>
              </div>
              </div>

              <div class="col-sm-6  mb-6">
                <div class="card">
                    <div class="card-body">
                      <h4><i class="material-icons">hub</i> Latest Clients </h4>
                      <div id="settings" class="response-div">
                
                      </div>
                    </div>
                </div>
                </div>
        </div>
<!-- Home page specific content -->


{% endblock %}

{% block js %}
<script>
  $(document).ready(function() {
   
        var url = 'http://127.0.0.1:1337/api/v1/';
        var token = '{{ session['token'] }}';
        fetchAPInfo(url,token);
        //fetchDhcpConfig(url,token) 
        parseSettings(url, token)
        getDevicesTotal(url, token)

  });
        // Devices total 
        function getDevicesTotal(url, token) {
          var settings = {
                    async: true,
                    crossDomain: true,
                    url: url+ 'commands/clients',
                    method: "GET",
                    headers: {
                      "Content-Type": "application/json"
                    },
                    processData: false,
                    data: ""
                  };

                  $.ajax(settings).done(function(response){
                    console.log('Response:', response); // Log the response to inspect its content
                    $('#conDevice').html('<b>' + response + '</b>');
                        // if (response.length === 0) {
                        //   $('#conDevice').html('0 device connected');
                        // } else {
                        //   try {
                        //     var jsonResponse = JSON.parse(response);
                        //     // Access the data in the JSON object
                        //     var clients = jsonResponse.clients;
                        //     var totalDevices = jsonResponse.total_devices;

                        //     // Do something with the data
                        //     if (Array.isArray(totalDevices) && totalDevices.length === 0) {
                        //       $('#conDevice').html('0 device connected');
                        //     } else {
                        //       $('#conDevice').html('<b>' + totalDevices + '</b>');
                        //     }
                        //   } catch (error) {
                        //     console.log('Error parsing JSON:', error);
                        //   }
                        // }
                  });
                }

  


    function fetchDhcpConfig(base_url,token) {

      var responseDiv = $("#dhresponseDiv");
      var loadingIcon = $("#loadingIcon");
      loadingIcon.show();
      var settings = {
                    async: true,
                    crossDomain: true,
                    url: base_url+ 'config/dhcp',
                    method: "GET",
                    headers: {
                      "Content-Type": "application/json"
                    },
                    processData: false,
                    data: ""
                  };

                  $.ajax(settings).done(function(response){
                    loadingIcon.hide();

                        var html = '';
                          // Process the response object
                          for (var key in response) {
                              if (response.hasOwnProperty(key)) {
                                  var value = response[key];

                                  // Add Material Icons based on the key
                                  switch (key) {
                                      case "broadcast":
                                          html += '<p><i class="material-icons">wifi_tethering</i> ' + value + '</p>';
                                          break;
                                      case "classtype":
                                          html += '<p><i class="material-icons">device_hub</i> ' + value + '</p>';
                                          break;
                                      case "leasetimeDef":
                                          html += '<p><i class="material-icons">timer</i> ' + value + '</p>';
                                          break;
                                      case "leasetimeMax":
                                          html += '<p><i class="material-icons">timer_off</i> ' + value + '</p>';
                                          break;
                                      case "netmask":
                                          html += '<p><i class="material-icons">settings_ethernet</i> ' + value + '</p>';
                                          break;
                                      case "range":
                                          html += '<p><i class="material-icons">dns</i> ' + value + '</p>';
                                          break;
                                      case "router":
                                          html += '<p><i class="material-icons">router</i> ' + value + '</p>';
                                          break;
                                      case "subnet":
                                          html += '<p><i class="material-icons">layers</i> ' + value + '</p>';
                                          break;
                                      default:
                                          html += '<p>' + key + ': ' + value + '</p>';
                                          break;
                                  }
                              }
                          }

                          responseDiv.html(html);
                  });
                }
 


    function fetchAPInfo(base_url, token) {


      var responseDiv = $("#responseDiv");
      var loadingIcon = $("#loadingIcon");
      loadingIcon.show();
      var settings = {
                    async: true,
                    crossDomain: true,
                    url: base_url+ 'config/accesspoint',
                    method: "GET",
                    headers: {
                      "Content-Type": "application/json"
                    },
                    processData: false,
                    data: ""
                  };

                  $.ajax(settings).done(function(response){
                    loadingIcon.hide();
                    var apInfoDiv = $("#apInfo");
                var html = "";

                for (var key in response) {
                  if (response.hasOwnProperty(key)) {
                    var value = response[key];
                    var icon = "";

                    // Remove underscores from key
                    var formattedKey = key.replace(/_/g, " ");
        
             

                    // Exclude certain keys
                    if (
                      key === "pydhcp_server" ||
                      key === "pydns_server" ||
                      key === "pydns_verbose" ||
                      key === "current_session" ||
                      key === "enable_hostapd_config" ||
                      key === "dhcpd_server" ||
                      key === "persistNetwokManager" ||
                      key === "wpa_type" ||
                      key === "pydns_zone_file"
                    ) {
                      continue; // Skip the current iteration
                    }

              
              // Replace true with YES in green color and false with NO in red color
                    if (value === "true") {
                      value = "<span style='color: green;'>YES</span>";
                      } else if (value === "false") {
                        value = "<span style='color: red;'>NO</span>";
                      } 
                    // Add Material Icons based on the key
                    switch (key) {
                      case "ap_max_inactivity":
                        icon = "<i class='material-icons'>schedule</i>";
                        break;
                      case "bssid":
                        icon = "<i class='material-icons'>wifi</i>";
                        break;
                      case "channel":
                        icon = "<i class='material-icons'>tune</i>";
                        break;
                      // Add more cases for other keys as needed

                      default:
                        icon = "<i class='material-icons'>info</i>";
                        break;
                    }

                    html += "<p>" + icon + " " + formattedKey + ": " + value + "</p>";
                  }
                }

                apInfoDiv.html(html);

                  });

            
      }



    function parseSettings(url, token) {
                  var settings = {
                    async: true,
                    crossDomain: true,
                    url: url+ "pumpkinproxy/plugins",
                    method: "GET",
                    headers: {
                      "Content-Type": "application/json"
                    },
                    processData: false,
                    data: ""
                  };
                  var loadingIcon = $("#loadingIcon");
                  $.ajax(settings).done(function(response) {
                  loadingIcon.hide();  
                  var settingsDiv = $("#settings");
                  var html = "";
                  for (var key in response) {
                    if (response.hasOwnProperty(key)) {
                      var value = response[key];
                      var icon = "";
                      var formattedKey = key.replace(/_/g, " ");
                      var formattedValue = "";

                      // Replace true with YES in green color and false with NO in red color
                      if (value === "true") {
                        formattedValue = "<span style='color: green;'>YES</span>";
                      } else if (value === "false") {
                        formattedValue = "<span style='color: red;'>NO</span>";
                      } else if (typeof value === "object" && Array.isArray(value)) {
                        continue;
                      } else {
                        formattedValue = value;
                      }

                      switch (key) {
                        case "beef":
                          icon = "<i class='material-icons'>settings</i>";
                          break;
                        case "downloadspoof":
                          icon = "<i class='material-icons'>file_download</i>";
                          break;
                        case "html_inject":
                          icon = "<i class='material-icons'>code</i>";
                          break;
                        case "js_inject":
                          icon = "<i class='material-icons'>code</i>";
                          break;
                        case "no-cache":
                          icon = "<i class='material-icons'>cached</i>";
                          break;
                        case "sbk":
                          icon = "<i class='material-icons'>lock</i>";
                          break;
                        case "set_beef":
                          icon = "<i class='material-icons'>settings</i>";
                          break;
                        case "set_downloadspoof":
                          icon = "<i class='material-icons'>file_download</i>";
                          break;
                        case "set_html_inject":
                          icon = "<i class='material-icons'>code</i>";
                          break;
                        case "set_js_inject":
                          icon = "<i class='material-icons'>code</i>";
                          break;
                        // Add more cases for other keys as needed

                        default:
                          icon = "<i class='material-icons'>info</i>";
                          break;
                      }

                      html += "<p>" + icon + " " + formattedKey + ": " + formattedValue + "</p>";
                    }
                  }

                  settingsDiv.html(html);
                  });
                }
  </script>


{% endblock %}
